.searchWr
{
    color: white;
}

.homeI
{
    width: 100%;
    background-repeat: no-repeat; /* Отключаем повторение */
    background-size: cover; /* Изображение растягивается, чтобы покрыть весь экран */
    background-position: center; /* Центрируем изображение */
    height: 90%; /* Устанавливаем высоту в размер окна */
}

@media (max-width: 768px) {
    .searchWr {
        padding: 10px; /* Добавим немного отступов */
    }

    .homeI {
        height: 60vh; /* Уменьшаем высоту для мобильных устройств */
    }

    .card {
        width: 100%; /* Карточки займут всю ширину экрана */
        margin-bottom: 20px; /* Добавим отступы между карточками */
    }
}

/* Для самых маленьких экранов (например, iPhone SE) */
@media (max-width: 375px) {
    .homeI {
        height: 50vh; /* Еще уменьшить картинку */
    }

    .card {
        width: 100%; /* Карточки должны быть на всю ширину экрана */
        margin: 10px 0; /* Уменьшаем отступы */
    }
}