.navWr
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid grey;
    background-color: black;
}
.navWr *
{
    color: rgb(255, 255, 255);
}
.linkWr
{
    display: flex;
    justify-content: space-around;
    /* border: 1 px solid red; */
    width: 50%;
}

.linkWr {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.linkWr a {
    padding: 10px 16px; /* Adds space inside each link */
    border: 1px solid transparent; /* Default no visible border */
    border-radius: 4px; /* Makes the box slightly rounded */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.linkWr a:hover, 
.linkWr a.active {
    color: rgb(38, 0, 255); /* Active or hover text color */
    border: 1px solid rgb(0, 153, 255); /* Box border on hover or active */
    background-color: rgb(103, 174, 255); /* Light background highlight */
}

.burgerMenu
{
    display: none;
    font-size: 24;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .linkWr
    {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black;
    }
    .linkWr.show{
        display: flex;
    }
    .linkWr
    {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid white;

    }
    .burgerMenu
    {
        display: block;
    }
}