.title {
    color: white;
}

.detailWr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px;
}

.desc {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 600px; 
    min-width: 250px; 
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5; 
}

.desc h4 {
    font-size: 1.8rem; 
    margin-bottom: 8px; 
}

.desc p {
    font-size: 1.2rem;
}

.desc img {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 90%;
}