/* General styles for the input */
.input {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.input input {
    padding: 10px; 
    font-size: 1rem; 
    border-radius: 20px; 
    width: 100%;
    border: 1px solid #ccc;
}

.input button {
    padding: 8px; 
    font-size: 1rem; 
    margin-left: 0; 
    margin-top: 10px; 
    width: 90%; 
    height: auto; 
    border: none;
    cursor: pointer;
    background-color: rgb(90, 62, 250);
    border-radius: 5px;
    text-align: center;
}

.input button:hover {
    background-color: rgb(0, 195, 255);
}

@media (max-width: 375px) {
    .header h1 {
        font-size: 2rem; 
        text-align: center; 
    }

    .input input {
        font-size: 0.9rem; 
        padding: 8px;
        width: 95%; 
    }

    .input button {
        font-size: 0.9rem; 
        width: 95%; 
    }
}
